* {
	box-sizing: border-box;
	--main-gradation-theme: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
}

.loader {
	display: none;
	position: fixed;
	width: 100%;
	height: 100vh;
	padding-left: 1%;
	background-color: #000;
	z-index: 555;
	top: 0;
	left: 0;

	> p {
		font-size: 3rem;
		font-family: "Finacode", sans-serif;
		font-weight: bold;
		color: #fff;

		> span {
			opacity: 0;
		}
	}
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	background: var(--main-gradation-theme);
	z-index: 1;
	transform: translateY(-100%);
	transition: transform 0.5s ease;

	&.active {
		transform: translateY(0%);
	}
	
	ul {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 0;

		> li {
			list-style: none;

			> a {
				color: white;
                text-decoration: none;
                font-family: "LINESeedJP";
				font-weight: 100;
                font-size: 0.8em;
                letter-spacing: 0.2em;
			}
		}
	}
}

main {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url(../Images/bg_main.jpg);
	background-repeat: no-repeat;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		backdrop-filter: blur(3px);
	}

	> div {
		position: absolute;
		inset: 0;
		margin: auto;
		width: 60%;
		min-height: fit-content;
		text-align: center;
		display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;

		> img {
			width: 100%;
			margin: 1em;
			filter: invert(100%);
		}

		> p {
			text-align: center;
			width: 140%;
			font-size: calc(0.5em + 1vw);
			font-family: "Makinas-Square", sans-serif;
			line-height: 1.75em;
			color: white;
		}

		> #menuOpen {
			cursor: pointer;
			color: white;
			background-color: transparent;
            text-decoration: none;
            font-size: calc(1em + 1vw);
            font-family: "Makinas-Square";
            letter-spacing: calc(0.1em + 0.5vw);
            border: 3px white solid;
            padding: calc(0.1em + 1vw) calc(0.3em + 1vw);
			/* letter-spacing 分を考慮する */
            padding-right: calc(0.2em + 0.5vw);
            margin-top: 2em;
		}
	}
}

section {
	position: relative;
	top: 0;
	padding: calc(2% + 1.5vh);

	> h2 {
		width: fit-content;
		margin: 2.5% 0;
		font-size: calc(1em + 2vw);
		background: var(--main-gradation-theme);
        background-clip: text;
        color: transparent;
		font-family: "Makinas-Flat", sans-serif;

		&::before {
			content: "≫";
		}
	}

	> p {
		width: fit-content;
		margin: 2.5% 0;
		font-size: calc(0.5em + 1.25vw);
		font-family: "LINESeedJP", sans-serif;
		font-weight: 400;
		line-height: 2em;
		letter-spacing: 0.125em;
		color: #29323c;		
	}
}

footer {
	padding: 2%;
	text-align: center;
	font-family: "LINESeedJP", sans-serif;
	font-weight: 100;
}

/*下線を動かすためのコード*/
.Text-Span {
	position: relative;
	z-index: 1;
}

.Text-Span:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -14px;
	width: 0%;
	height: 4px;
	background: #5bc8ac;
	z-index: -1;
	transition: all 0.8s;
}

.Text-Span.isActive:after {
	width: 100%;
}

/* 全画面ナビゲーション */
nav#menu {
	width: 100%;
	height: 100%;
	--trasition-delay-time: 25ms;

	> ul {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style-type: none;
		padding: 0;
		margin: 0;
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;

		> li {
			background-image: var(--main-gradation-theme);
			display: flex;
			justify-content: center;
			align-items: center;
			transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
			height: 100%;
			width: 20%;
			cursor: pointer;

			&:nth-of-type(2) {
				transition-delay: var(--trasition-delay-time);
			}
			
			&:nth-of-type(3) {
				transition-delay: calc(var(--trasition-delay-time) * 2);
			}
			
			&:nth-of-type(4) {
				transition-delay: calc(var(--trasition-delay-time) * 3);;
			}
			
			&:nth-of-type(5) {
				transition-delay: calc(var(--trasition-delay-time) * 4);;
			}
			
			&:nth-of-type(6) {
				transition-delay: calc(var(--trasition-delay-time) * 5);;
			}

			> a {
				font-family: "LINESeedJP", sans-serif;
				font-weight: 400;
				color: #fff;
				letter-spacing: 2px;
				text-decoration: none;
				z-index: 2;
				transition: transform 0.3s ease-in-out;

				&:hover {
					text-decoration: underline;
				}
			}

			> p {
				position: absolute;
				margin: 0;
				left: 0;
				bottom: 0;
				text-align: left;
				font-size: calc(3.5em + 2vw);
				font-family: "LINESeedJP";
				font-weight: 700;
				color: #4f5f6f;
                transform: rotate(-90deg) translate(-1.7em, -25%);
                transform-origin: top left;
                pointer-events: none;
			}
		}
	}

	> #menuClose {
		position: fixed;
        inset: 0;
        top: 0;
        margin: 0 auto;
        width: 7.5%;
        aspect-ratio: 1;
        border-radius: 50%;
        background: transparent;
        border: 3px white solid;
        color: white;
        font-size: calc(1.25em + 1.25vw);
        font-family: 'LINESeedJP';
		font-weight: 100;
		cursor: pointer;
        transform: translateY(-100%);
		transition: all 0.2s ease-out;
		transition-delay: calc(var(--trasition-delay-time) * 5);
		z-index: 2;
	}

	&.active {
		li {
			transform: translateY(100%);

			&:hover {
				width: 30%;
				height: 100%;

				> a {
					transform: scale(1.1);
				}
			}
		}

		#menuClose {
			transform: translateY(25%);

			&:hover {
				transform: translateY(25%) scale(1.2);
			}
		}
	}

	/* スマホ */
	@media (width < 768px) {
		> ul {
			flex-direction: column;
			top: 0;
			left: -100%;

			> li {
				height: 20%;
				width: 100%;

				> p {
					transform: translate(-0.1em, 25%);
				}
			}
		}

		> #menuClose {
			left: 0;
			margin: auto 0;
			width: auto;
			height: 7.5%;
			transform: translateX(-100%);
		}

		&.active {
			li {
				transform: translateX(100%);

				&:hover {
					width: 100%;
					height: 30%;
				}
			}

			> #menuClose {
				transform: translateX(25%);
			}
		}
	}
}



/* Hamburger menu */
.hamburger {
	background-color: #fff;
	border-radius: 50%;
	position: fixed;
	top: 1rem;
	right: 1rem;
	border: 0;
	cursor: pointer;
	width: 2rem;
	height: 2rem;
}

.hamburger:focus {
	outline: 0;
}

.hamburger .line {
	background-color: #000;
	display: block;
	margin: 4px auto;
	height: 2px;
	width: 20px;
	transition: all 0.1s ease-in;
}

.hamburger.open .line:nth-child(1) {
	transform: translateY(6px) rotate(45deg);
}

.hamburger.open .line:nth-child(2) {
	opacity: 0;
}

.hamburger.open .line:nth-child(3) {
	transform: translateY(-6px) rotate(-45deg);
}

.fade-out {
	animation: fadeOut 800ms ease forwards;
}

#particles-js {
	position: fixed;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		z-index: -99;
	}
}

@font-face {
	font-family: Makinas-Square;
	src: url(../Fonts/Makinas-4-Square.woff2) format(woff2);
	font-display: swap;
}

@font-face {
	font-family: Makinas-Flat;
	src: url(../Fonts/Makinas-4-Flat.woff2) format(woff2);
}

@font-face {
	font-family: LINESeedJP;
	src: url(../Fonts/LINESeedJP_OTF_Eb.woff2) format(woff2);
	font-weight: 800;
}

@font-face {
	font-family: LINESeedJP;
	src: url(../Fonts/LINESeedJP_OTF_Bd.woff2) format(woff2);
	font-weight: 700;
}

@font-face {
	font-family: LINESeedJP;
	src: url(../Fonts/LINESeedJP_OTF_Rg.woff2) format(woff2);
	font-weight: 400;
}

@font-face {
	font-family: LINESeedJP;
	src: url(../Fonts/LINESeedJP_OTF_Th.woff2) format(woff2);
	font-weight: 100;
}

@font-face {
	font-family: FinaCode;
	src: url(../Fonts/FiraCode-SemiBold.woff2) format(woff2);
}