main {
	h1 {
		font-size: calc(3em + 2vw);
		font-family: "LINESeedJP";
		font-weight: 800;
		letter-spacing: 0.4em;
		margin-top: 0.3em;
		margin-right: -0.4em;
		margin-bottom: 0.3em;
		color: white;
		position: relative;

		&::after {
			content: "";
            position: absolute;
            bottom: -0.2em;
            left: 0;
            width: calc(100% - 0.4em);
            border: 2px white solid;
		}
	}

	h2 {
		font-size: calc(0.75em + 1vw);
		font-family: "Makinas-Square";
		font-weight: 400;
		letter-spacing: 0.5em;
		color: white;
		margin-right: -0.5em;
		margin-bottom: 25%;
	}

	img {
		width: 25%;
        margin: 1em;
        filter: invert(100%);
        position: absolute;
        bottom: 25px;
        right: 30px;
	}

	.apex-border {
		position: absolute;
		border: 3px white solid;

		&.top, &.bottom {
			width: min(15vw, 15vh);
		}

		&.left, &.right {
			height: min(15vw, 15vh);
		}

		&.top {
			top: 15px;
		}

		&.top, &.left {
			left: 15px;
			top: 15px;
		}

		&.bottom, &.right {
			right: 15px;
			bottom: 15px;
		}
	}
}