* {
	box-sizing: border-box;
	--main-gradation-theme: linear-gradient(60deg, #29323c 0%, #485563 100%);
	--sub-gradation-theme: linear-gradient(60deg, #344558 0%, #6e7d8c 100%);
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	background: var(--main-gradation-theme);
	z-index: 1;
	transform: translateY(-100%);
	transition: transform 0.5s ease;

	&.active {
		transform: translateY(0%);
	}
	
	ul {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 0;

		> li {
			list-style: none;

			> a {
				color: white;
                text-decoration: none;
                font-family: "LINESeedJP";
				font-weight: 100;
                font-size: 0.8em;
                letter-spacing: 0.2em;
			}
		}
	}
}

main {
	position: relative;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		backdrop-filter: blur(2px);
	}

	> div {
		position: absolute;
		inset: 0;
		margin: auto;
		width: 60%;
		min-height: fit-content;
		text-align: center;
		display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;

		> img {
			width: 100%;
			margin: 1em;
			filter: invert(100%);
		}

		> p {
			text-align: center;
			width: 140%;
			font-size: calc(0.5em + 1vw);
			font-family: "Makinas-Square", sans-serif;
			line-height: 1.75em;
			color: white;
		}

		> #menuOpen {
			cursor: pointer;
			color: white;
			background-color: transparent;
            text-decoration: none;
            font-size: calc(1em + 1vw);
            font-family: "Makinas-Square";
            letter-spacing: calc(0.1em + 0.5vw);
            border: 3px white solid;
            padding: calc(0.1em + 1vw) calc(0.3em + 1vw);
			/* letter-spacing 分を考慮する */
            padding-right: calc(0.2em + 0.5vw);
            margin-top: 2em;
		}
	}
}

section {
	position: relative;
	top: 0;
	padding: calc(2% + 1.5vh);
	counter-reset: numbering 0;

	.numbering {
		counter-increment: numbering 1;
	}

	> h2 {
		width: fit-content;
		margin: 2.5% 0;
		font-size: calc(1em + 2vw);
		font-family: "Makinas-Flat", sans-serif;
		background: var(--main-gradation-theme);
        background-clip: text;
        color: transparent;

		&::before {
			content: "≫";
		}
	}

	> h3.numbering {
		font-size: calc(1em + 1vw);
		font-family: "LINESeedJP";
		font-weight: 700;
		background: var(--sub-gradation-theme);
        background-clip: text;
        color: transparent;

		&::before {
			content: counter(numbering) ". ";
		}
	}

	> p {
		width: fit-content;
		margin: 2.5% 0;
		font-size: calc(0.5em + 1.25vw);
		font-family: "LINESeedJP", sans-serif;
		font-weight: 400;
		line-height: 2em;
		letter-spacing: 0.125em;
		color: #29323c;
		
		> code {
			font-size: 0.9em;
			font-family: "FiraCode", "LINESeedJP";
			letter-spacing: 0;
			background-color: #f5f2f0;
			padding: 0.25em 0.75em;
			border-radius: 5px;
		}
	}

	> ul > li {
		font-size: calc(0.3em + 1.25vw);
        font-family: "LINESeedJP", sans-serif;
        font-weight: 400;
        letter-spacing: 0.1em;
        margin: 0.75em 0;
	}
}

footer {
	padding: 2%;
	text-align: center;
	font-family: "LINESeedJP", sans-serif;
	font-weight: 100;
}

#particles-js {
	position: fixed;
	filter: blur(2px);
}

/* prism.js のカスタマイズ */
code[class*=language-], pre[class*=language-] {
	font-family: "FiraCode", "LineSeedJP";
}

@font-face {
	font-family: Makinas-Square;
	src: url(../Fonts/Makinas-4-Square.woff2) format(woff2);
	font-display: swap;
}

@font-face {
	font-family: Makinas-Flat;
	src: url(../Fonts/Makinas-4-Flat.woff2) format(woff2);
}

@font-face {
	font-family: LINESeedJP;
	src: url(../Fonts/LINESeedJP_OTF_Eb.woff2) format(woff2);
	font-weight: 800;
}

@font-face {
	font-family: LINESeedJP;
	src: url(../Fonts/LINESeedJP_OTF_Bd.woff2) format(woff2);
	font-weight: 700;
}

@font-face {
	font-family: LINESeedJP;
	src: url(../Fonts/LINESeedJP_OTF_Rg.woff2) format(woff2);
	font-weight: 400;
}

@font-face {
	font-family: LINESeedJP;
	src: url(../Fonts/LINESeedJP_OTF_Th.woff2) format(woff2);
	font-weight: 100;
}

@font-face {
	font-family: FiraCode;
	src: url(../Fonts/FiraCode-SemiBold.woff2) format(woff2);
}